body {
    background-color: rgb(216, 240, 249);
    color: rgb(10, 36, 44);
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
}

header {
    background-color: rgb(152, 208, 228);
    color: rgb(56, 6, 35);
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 12pt;
}

main {
    background-color: rgb(216, 240, 249);
    color: rgb(3, 57, 73);
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
}

footer {
    background-color: rgb(152, 208, 228);
    color: rgb(56, 6, 35);
    font-family:'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 12pt;
}

a {
    text-decoration: none;
  }