<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Малых Виктория Евгеньевна. Фреймворк vue</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="shortcut icon" href="../icon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../icon/favicon-32x32.png">
    <link rel="icon" href="../icon/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>014
</head>
<body>
    <header style="padding: 5px;">
        НГТУ, ФБ, Лабораторная работа 7
    </header>

    <main>
        <div id="app">
            <h1 :title="messageRus">{{ message }}</h1>
            <p>Счётчик: {{counter}}</p>
            <button type="button" class="btn btn-outline-success" style="margin-right: 5px; width: 50px;" @click="incCounter" v-if="counter < 10">++</button>
            <button type="button" class="btn btn-outline-danger" style="margin-right: 5px; width: 50px;" @click="decCounter" v-if="counter > 0">--</button>
            <hr>

            <h2>Пользователь:</h2>
            <div>Имя: {{user.name}}</div>
            <div>Возраст: {{user.age}}</div>
            <div>Телефон: {{user.tel}}</div>
            <hr>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">Цветы</h2>
                    <ul class="list-group">
                        <li v-for="(flower, id) in flowers" class="list-group-item">
                            {{ flower }} 
                            <button @click="edit(id, flower)" class="btn btn-info btn-sm"  style="margin-right: 5px;" v-if="flower !== null">
                                <i class="bi bi-pencil-fill"></i></button>
                            <button @click="removeFlower(id)" class="btn btn-danger  btn-sm" v-if="flower !== null">
                                <i class="bi bi-trash"></i>
                            </button>
                            <div class="spinner-border text-info" role="status"  v-if="flower === null"></div>
                        </li>
                    </ul>
                    <button @click="addFlower" class="btn btn-success" style="margin-top: 5px;">Добавить цветок</button>
                </div>
            </div>
            <hr>

            <h2>Цветы</h2>
            <table class="table table-info">
                <thead>
                    <tr class="table-primary">
                        <th>Название</th>
                        <th>Редактировать</th>
                    </tr>
                </thead>
                <tr v-for="(flower, id) in flowers">
                    <td>
                        <span v-if="flower === null">Загружается...</span>
                        <span v-else>{{ flower }}</span>
                    </td>
                    <td>
                        <button @click="edit(id, flower)" class="btn btn-primary btn-sm"  v-if="flower !== null">
                            <i class="bi bi-pen"></i></button>
                        <div class="spinner-border text-primary" role="status"  v-if="flower === null"></div>
                    </td>
                </tr>
            </table>
            <hr>

            <h2>Калькулятор</h2>
            <div class="row g-5">
                <div class="col-auto">
                    <input type="number" v-model="a" class="form-control">
                </div>
                <div class="col-auto">
                    +
                </div>
                <div class="col-auto">
                    <input type="number" v-model="b" class="form-control">
                </div>
                <div class="col-auto">
                    <button @click="sum"  class="btn btn-primary">=</button>
                </div>
                <div class="col-auto">
                   <span class="badge text-bg-primary fs-5">{{ result }}</span>
                </div>
            </div>
    </main>

    <footer style="padding: 5px;">
        &copy; Малых Виктория, ФБИ-32, 2 курс, 2025
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    message: "Hello!",
                    messageRus: "Привет!",
                    counter: 1,
                    user: {
                        name: "Глаша",
                        age: "18",
                        tel: "777-55-33",
                    },
                    flowers: ["Роза","Тюльпан","Маргаритка","Георгин","Одуванчик"],
                    a: 1,
                    b: 10,
                    result: "",
                }
            },
            methods: {
                incCounter() {
                    this.counter++;
                },
                decCounter() {
                    this.counter--;
                },
                edit(id, flower) {
                    let newName = prompt("Введите имя цветка:", flower);
                    this.flowers[id] = null;
                    setTimeout(() => {
                        this.flowers[id] = newName;
                    }, 3000);
                },
                removeFlower(id) {
                    this.flowers.splice(id, 1);
                },
                addFlower() {
                    let newFlower = prompt("Введите имя нового цветка:");
                    if (newFlower) {
                        this.flowers.push(newFlower);
                    }
                },
                sum() {
                    this.result = this.a + this.b;
                },
            }
        }).mount("#app");
    </script>
    
</body>
</html>